force-app/main/default/flows/Inactivate_All_Related_ContactInsuranceAssociation_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Inactivate_it</name>
        <label>Inactivate it</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Iterate_ContactInsuranceAssociation_Records.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_ContactInsuranceAssociation_Records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Inactivate All Related ContactInsuranceAssociation Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inactivate All Related ContactInsuranceAssociation Records</label>
    <loops>
        <name>Iterate_ContactInsuranceAssociation_Records</name>
        <label>Iterate ContactInsuranceAssociation Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Related_ContactInsuranceAssociation_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Inactivate_it</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_Related_ContactInsuranceAssociation_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_ContactInsuranceAssociation_Records</name>
        <label>Get All Related ContactInsuranceAssociation Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_ContactInsuranceAssociation_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Insurance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInsuranceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactInsuranceAssociation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Related_ContactInsuranceAssociation_Records</name>
        <label>Update the Related ContactInsuranceAssociation Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_All_Related_ContactInsuranceAssociation_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Related_ContactInsuranceAssociation_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varInsuranceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
